{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
<div class="container">
    <div class="justify-content-center text-center">
        {{ form_start(registrationForm) }}
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.lastName) }}
                {{ form_widget(registrationForm.lastName) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.lastName) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.firstName) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.phone) }}
                {{ form_widget(registrationForm.phone) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.phone) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.adress) }}
                {{ form_widget(registrationForm.adress) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.adress) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.additionalAddress) }}
                {{ form_widget(registrationForm.additionalAddress) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.additionalAddress) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.city) }}
                {{ form_widget(registrationForm.city) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.city) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.postalCode) }}
                {{ form_widget(registrationForm.postalCode) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.postalCode) }}
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <div>
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>
        </div>
        <div class="col-10 mx-auto">
            <div>
                {{ form_label(registrationForm.password) }}
                {{ form_widget(registrationForm.password) }}
                <div class="invalid-feedback">
                    {{ form_errors(registrationForm.password) }}
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <span> {% trans %} I accept the CUG {% endtrans %} </span>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
